.details-page{
    font-family: work-sans;
    max-width: 81rem;
    min-width: 18.125rem;
    margin: 0 auto;
    padding: 32px 24px 0;
}

.gig-details{
    border: 1px black solid;
    color: $clr1;
    width: 57%;
    // font-family: Arial, Helvetica, sans-serif;
    h1{
        padding-bottom: 16px;
        margin: 0;
        font-size: 28px;
    }
  
    
    .owner-details{
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
        
        
        img{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        .owner-fullname{
        
            font-weight: bold;
        }
        .space{
            color: #c5c6c9;
        }
    }

    .vueperslide__content-wrapper{
        position: relative;
        border: 1px solid #efeff0;
    }

    .vueperslides--fixed-height.vueperslides--bullets-outside {
        margin-bottom: 1.4em;
    }

    .block text-center{
        img{
            width: 100%;
        }
    }
    .reviews{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 1.13rem;
        }
        
        button{
            
            font-size: 14px;
            border: none;
            background-color: rgba(240, 248, 255, 0);
            color: #1dbf73
            
        }
        button:hover{
            cursor: pointer;
        }
    }

    .about-gig{
        h2{
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 25px;
        }
        
        p{
            font-size: 1rem;
            color: $clr2;
            word-wrap: break-word;
            letter-spacing: 2px;
            
        }
    }

    .about-seller{
        display: flex;
        img{
            border-radius: 50%;
            height: 110px;
            width: 110px;
            margin-right: 10px;
        }
        .owner-details{
            display: block;
        }
    }

    .extended-owner-details{
        border: 1px solid black;
    }


}

.side-details{
    border: 1px solid #e4e5e7;
    padding: 2em 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 22.8rem;
    height: 23.5rem;
    margin-bottom: 40px;
    margin-left: 112px;

    .side-title {
        font-size: 1.1rem;
        font-weight: bold;
        width: 17.85rem;
        height: 3rem;

    }

    .side-subtitle {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .side-price {
    font-size: 1.3em;
    float: right;
    }

    .side-delivery {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-block-end: 8px;
        margin-bottom: 20px;

        img{
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }
    }

    .order-features {
        margin-block-end: 10px;
        li {
            display: flex;
            align-items: center;
            gap: 8px;

        }
        .checkMark{
            color: $clr5;
            margin-right: 20px;
        }
    }

    .side-btn {
        width: 100%;
        height: 42px;
        font-size: 16px;
        font-weight: 600;
        // margin-bottom: 0;
    }

    footer{
        margin-top: 2rem;
        margin-bottom: 2rem;
        
       display: block;
    }
}
