
    
    .input-container{
        display: flex;
        height: 2.625em;
        width: 400px;
        // max-width: 100%;
        flex-shrink: 8;
        
        border-radius: 5px;
        text-align: center;
        
  


        .header-input{
            min-width: 92%;
            height: 100%;
            font-size: 17px;
            font-weight:100;
            font-family:sans-serif;
            letter-spacing: 1px;
            color: $clr2;
            border: none;
            
     
        }
        button{
            // float: right;
            min-width: 8%;
            height: 100%;
            
            background: #151616;
            color:$clr4;
            text-align: center;
            font-size: 17px;
            // text-decoration: none;
            border: none;
            
            
     
    
            i{
                margin: 0;
               
            }
       
        }
    }




.filter-by-category{
   
    div{
        cursor: pointer;
        padding:  10px 8px 10px 8px;
        // border-top: 1px solid  #e4e5e7;    
    }
}