.top-header{
    // flex-wrap: wrap;
    width: 100%;
    padding: 1em 1rem;
    z-index: 100;
    top: 0;
    
    
    // border-bottom: 1px solid black;
    .header-row-container {
        margin-left: $layoutPadding;
        margin-right: $layoutPadding;

        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        height: 6.4vh;
        // margin: auto;
        .header-filter{
            align-self: center;
            margin-left: 30px;
        }
        .main-logo-container{
            position: relative;
            top: -15px;
            // width: 6.5vw;
            height: 12vh;
            align-self: center;
            .main-logo{
           
                font-family: Helvetica, sans-serif;
                font-weight: 900;
                font-size: 2rem;
                color: black;
                letter-spacing: -2.6px;
                
            
                span{
                    font-size: 1.5em;
                    color: $clr5;
                    font-family:'Times New Roman', Times, serif;
                
                }
            }
         
        }
       
       

        
        // position: relative;
        
    }

    .top-header-nav-bar-container{
        display: flex;
        // flex-direction: row;
        align-items: center;
        flex-grow: 1;
        justify-self: flex-end;
        // @include for-normal-header-layout {

        // }


        .nav-helper{
            // width: 1vw;
            flex-grow: 1;
        }

        ul {
         align-items: center;
         justify-content: space-between;
         margin: 0;
         width: 65%;

         li a{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            color: $clr2;
            font-size: 1.1rem;
           
            
        }
        .join-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 62.55px;
            height:36px ;
            border-radius: 5px;
            background-color: $clr4;
            border-color: $clr4;;
            color: $clr5;
            &:hover{
                background-color:$clr5 ;
                color: $clr4;
            }
        
            
        }
    }



    }
    


}
.header-line {
    width: 100%;
   
}

// .header-filter {
//     width: 8em;
//     justify-content: center;
// }







