.main-layout {
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;
    >* {
        grid-column: 2;
    }
    >*.full {
        grid-column: 1 / -1;
    }
}

.header-layout {
    /* box-sizing: content-box; */
    padding-inline-start: 1.6rem;
    padding-inline-end: 1.6rem;
}

// .main-layout {
//     /* box-sizing: content-box; */
//     padding-inline-start: 20px;
//     padding-inline-end: 20px;
// }