header.top-header{

    flex-wrap: nowrap;
    width: 100%;
    
    
    // border-bottom: 1px solid black;
    .header-row-container {
        // padding: 1em 1rem;
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content:center;
        align-items: center;
        height: 6.4vh;
        // margin: auto;
        .header-filter{
            align-self: center;
            margin-left: 30px;
        }
        .main-logo-container{
            position: relative;
            top: -15px;
            // width: 6.5vw;
            height: 12vh;
            align-self: center;
            .main-logo{
           
                font-family: Helvetica, sans-serif;
                font-weight: 900;
                font-size: 2rem;
                color: black;
                letter-spacing: -2.6px;
                
            
                span{
                    font-size: 1.5em;
                    color: $clr5;
                    font-family:'Times New Roman', Times, serif;
                
                }
            }
         
        }
       
       

        
        // position: relative;
        
    }

    .menu-toggle {
        display: none;
        border: none;
        width: 1.5em;
        text-align: left;
        background-color: rgba(255, 255, 255, 0);
        height: 100%;
        font-size: 26px;
        @include for-larg-layout {
            display: block;

      }
   }


    .top-header-nav-bar-container{
        display: flex;
        // flex-direction: row;
        align-items: center;
        flex-grow: 1;
        justify-self: flex-end;
        // @include for-normal-header-layout {

        // }


        .nav-helper{
            // width: 1vw;
            flex-grow: 1;
        }

        ul {
         align-items: center;
         justify-content: space-between;
         gap:20px;
         margin: 0;
         width: fit-content;

         li a{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            color: $clr2;
            font-size: 1.1rem;
            width: fit-content
           
            
        }

    }



    }
<<<<<<< HEAD:src/styles/components/_header.scss
=======
    .main-logo-container{
        width: 150px;
        height: 120px;
>>>>>>> 51a4ef753c1bdcc12cf1f44989355ac2f05c6528:src/styles/components/header/_header.scss
    


}
.header-line {
    width: 100%;
   
}

// .header-filter {
//     width: 8em;
//     justify-content: center;
// }







