header.top-header{
    
    height: 5.0625rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

   

    .header-row-container {
        grid-column: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // gap: 25px;
        
    
        .main-logo-container{
            width: fit-content;
            // height: 5rem;
            text-align: left;
            display: flex;
            align-items: center;
            // gap: 10px;
            
            .main-logo{
           
                font-family: Helvetica, sans-serif;
                font-weight: 900;
                font-size: 2em;
                color: black;
                letter-spacing: -2.6px;
                // margin-top:1rem;
                
            
                span{
                    font-size: 1.5em;
                    color: $clr5;
                    font-family:'Times New Roman', Times, serif;
                
                }
            }
            .menu-toggle {
                display: none;
                border: none;
                text-align: left;
                background-color: rgba(255, 255, 255, 0);
                height: 100%;
                font-size: 26px;
                margin-top: 3%;
                @include for-larg-layout {
                    display: block;
              }
           }
        }  






        
    }




    .top-header-nav-bar-container{
        display: flex;
        align-items: center;
        // flex-grow: 1;
        justify-self: flex-end;
       

        ul {
        //  display: none;
         align-items: center;
         justify-content: space-between;
         gap:10px;
         margin: 0;
         width: fit-content;

         li a{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            color: $clr2;
            font-size: 1.1rem;
            // width: fit-content
           
            
        }
        @include for-medium-layout{
            .move{
                display: none;
            }
        }
    }



    }
    .main-logo-container{
        width: 150px;
        height: 120px;
    


}
.header-line {
    width: 100%;
   
}
}






