// COLOR PALETTE
$clr1: #404145; //כותרות
$clr2:  #7d8088dc;
$clr3: #347138;
$clr4: rgb(251, 245, 245);
// $clr5: darken($clr3, 40%);
$layoutPadding: 20px;
// $clr4:  #fff; // root app color
// $clr7: darken($clr3, 40%);
$clr5:rgb(122, 200, 122); // repetetive element color


// LAYOUT
<<<<<<< HEAD
$mainLayoutPadding: 252px;
=======
// $layoutPadding: 259px;
$mainLayoutPadding: 259px;
>>>>>>> 998d8ae8a9147231cbab1da8b2cc43e4795efba8



// LAYOUT BREAKPOINTS

// Header Breakpoints 
$header-break-normal: 630px;
$header-break-wide: 900px;
$header-break-extra-wide: 1160px;
$header-break-large-screen: 1564px;
